body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.mensagem {
    text-align: center;
    background-color: #ffffff;
    color: #333333;
    padding: 60px; /* Aumentei o preenchimento para criar mais espaço */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    width: 90%;
    max-width: 800px; /* Aumentei a largura máxima */
    box-sizing: border-box;
}

h1 {
    font-size: 40px; /* Aumentei o tamanho para 40px */
    font-weight: bold;
    color: #555555;
}

p {
    font-size: 24px; /* Aumentei o tamanho para 24px */
    line-height: 1.6;
    margin-top: 15px; /* Aumentei o espaçamento superior */
    color: #666666;
}

em {
    font-style: italic;
    color: #ff5722;
}
